/* DESKTOP */
.experiencia-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem__secao {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: 23rem;
}

.acessibilidade, .atracoes {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.sustentabilidade {
    padding: 5% 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    gap: 3rem;
}

.texto__secao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.titulo__secao {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 3%;
}

/* TABLET */
@media (max-width: 1200px) {

    .banner-experiencia {
        height: 380px;
    }

    .acessibilidade, .atracoes, .sustentabilidade {
        flex-direction: column;
    }
    
    .texto__secao, .titulo__secao {
        text-align: center;
    }
}

/* CELULAR */
@media (max-width: 670px) {

    .banner-experiencia {
        height: 270px;
    }
    
    .banner__titulo {
        font-size: 2rem;
    }
}


