.banner-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-formulario::before {
    content:"";
    position: absolute;
    background: url("../assets/banner-formulario.jpg");
    background-position: top;
    background-size: cover;
    inset: 0;
    z-index: -1;
    opacity: 0.3;
}

.banner__titulo {
    text-align: center;
    padding: 8%;
    font-family: var(--fonte-titulos);
    font-size: 4rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 700;
}

.formulario__titulo {
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 48px;
    font-weight: 400;
    margin: .5em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 60%;
}

.formulario__item {
    padding: .5em 0;
    text-align: left;
}

.linha-2 {
    display: flex;
    gap: 24px;
}

.linha-2 > .formulario__item {
    width: 100%;
}

input, select {
    width: 100%;
    height: 48px;
    margin-top: .5em;
    background-color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 500;
}

.container__botao {
    display: flex;
    align-self: center;
}