/* DESKTOP */
.container-ingresso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.ingresso {
    background: var(--gradiente-verao);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    border: 4px dashed var(--cinza);
    padding: 1em 2em;
    width: 50vw;
}

.ingresso__titulo {
    font-family: var(--fonte-texto);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2em;
}

.ingresso__imagens {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.ingresso__descricao {
    display: flex;
    align-items: center;
    line-height: 40px;
    gap: 48px;
}

.ingresso-nome {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: .5em;
}

/* TABLET */
@media (max-width: 1200px) {

    .ingresso {
        text-align: center;
    }

    .ingresso-texto {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ingresso__descricao {
        display: block
    }
}

/* MOBILE */
@media (max-width: 670px) {

    .ingresso {
        width: 60vw;
    }
}