/* DESKTOP */
.mapa {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.legenda {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.legenda__titulo {
    font-family: var(--fonte-texto);
    font-size: 2rem;
    font-weight: 700;
}

.legenda__item {
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    font-weight: 500;
}

.detalhes {
    margin: 2em 0;
}

.detalhes-titulo {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 38px;
    text-align: center;
    margin-bottom: 1em;
}

.cards {
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0 4em;
}

.pista,
.cadeiras,
.premium {
    margin: 0 1em;
}

.premium {
    padding-top: 5em;
}

.setor__titulo {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: .5em 0;
}

.setor__descricao {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.card-imagem {
    object-fit: cover;
    border-radius: 16px;
    height: 250px;
    width: 381px;
}

/* TABLET */
@media (max-width: 1200px) {

    .mapa {
        flex-direction: column;
    }

    .cards {
        flex-direction: column;
        padding-top: 64px;
    }
}

/* MOBILE */
@media (max-width: 670px) {

    .detalhes {
        margin: 1em 0;
    }

    .mapa__imagem {
        width: 70vw;
    }

    .card-imagem {
        width: 60vw;
    }
}